body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;

    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container{
    flex:1;
}


.navbar{
    height:5rem;
    background-color:white;
}


.fa-compass{
    color:red;
    font-size:2rem;
}

.nav-link{
    color:black !important;
}

/*Footer*/
.f-info-links a{
    text-decoration:none;
    color:black;
}

.f-info-links a:hover{
    text-decoration:underline;
    color:black;
}

.f-info-links, .f-info-socials,.f-info-brand{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:0.5rem;
}


.f-info{
    text-align: center;
    height:8rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:space-evenly;
    background-color: rgb(211, 202, 202);
}


/* cards */
.listing-card{
    border:none !important;
    margin-bottom:2rem;
}

.card-image-top{
    border-radius:1rem!important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0 !important;
}

.card-text p{
    font-weight:400 !important;
}

.listing-link{
    text-decoration:none;
}

/* Card effect */
.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

/* new page */

.add-btn{
    background-color:rgb(193, 28, 28) !important;
    color:white !important;
}

/* Edit page */
.edit-btn{
    background-color:rgb(193, 28, 28) !important;
    color:white !important;
}

/*Show page  */
.show-img{
    height:30vh;
}
.btns{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}


@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #ffffff; /* or #f8f9fa */
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  }
}